html {
  font-size: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#container
{
    max-width : 1480px;
    margin: auto;
    background-color: #0E3B84;
}

p, ul {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: white;
    line-height: 30px;
}
 li {
   list-style: none;
   margin: 1rem;
 }

.footer-title{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color : white;
    font-size: 1.25rem;
}
.footer-list{
    padding-left: 0px;
    line-height: 2.5;
    list-style: none;
    line-height: 30px;
    color : white;
}
.footer-list>li>a
{
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: white;
    line-height: 2.5;
    padding: 0.8rem;
}

.bg-color
{
    background-color:rgba(0, 0, 0, 0.1);
    width : 100%;
}
#bikini-bottom
{
    font-size: 0.7rem;
    width: 80%;
    margin:auto;
    box-sizing: content-box;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.social-align
{
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-wrap: wrap;  
}
.align
{
    display: flex;
    justify-content: right;
    align-items: flex-end;
    flex-wrap: wrap; 
    flex-direction: row;  
}
.align>p
{
    padding: 10px;
}

.d-flex {
  display: flex;
}

.social
{
    height: 45px;
    width: 45px; 
    margin-right: 12px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-position: center;
}

.social:hover
{
    height: 45px;
    width: 45px; 
    margin-right: 12px;
    border-radius: 3px;
    background-color: #FF8400;
    background-repeat: no-repeat;
    background-position: center;
}
#email
{
    padding-left: 0.8rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius : 25px; 
    border-style: none; 
    width: 100%;
    margin-top: 1.5rem;
    font-family: 'Rubik', sans-serif;
}

.fb-icon
{
    background-image: url(img/facebook.png);
}
.twitter-icon
{
    background-image: url(img/twitter.png);
}
.pinterest-icon
{
    background-image: url(img/pinterest.png);
}
.deviantart-icon
{
    background-image: url(img/deviantart.png);
}
.submit
{
    font-family: 'Rubik', sans-serif;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: white;
    background-color: #FF8400;
    border-radius : 25px;
    border-style: none;
    border-color: #b4b0b4;  
    margin-top: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
}
.submit:hover
{
    color: black;
}
.mailing
{
    text-align: right;
}

@media screen and (min-width:320px) and (max-width:414px)
{
    #container
    {
        max-width : 414px;
        margin: auto;
        background-color: #0E3B84;
    }
     .box-bottom {
       flex-wrap: wrap;
     }
    #footer
    {
        padding-top: 3rem;
        padding-bottom: 3rem;
        font-size: 0.7rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
    }
    #bikini-bottom
    {
        width: 80%;
        margin:auto;
        display: flex; 
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
    }
    #bikini-bottom>p, #bikini-bottom>div>p
    {
        margin: 0rem;
        font-size: 0.7rem;
        padding-top : 0px;
    }
    .align
    {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: wrap; 
        flex-direction: row; 
        padding: 0px; 
    }

    ul {
      padding-left: 0%;
    }
    
}

@media screen and (min-width:415px) and (max-width:1000px)
{
    #container
    {
    max-width : 1140px;
    margin: auto;
    background-color: #0E3B84;
    }
    #footer1
    {
        font-size: 0.7rem;
        display : flex;
        flex-direction: row;
    }
    .box-bottom-alt, .box-bottom
    {
        flex : 20%;
        padding : 3rem;
    }
        
}
@media screen and (min-width:1001px)
{
    .bikini-bottom-alt
    {
        flex : 20%;
    }
    #footer1
{
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.box-bottom
{
    flex : 15%; 
}
}